* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

html {
  color: #89c2d9;
}

body {
  font-family: "Raleway", sans-serif, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

header {
  background: radial-gradient(circle, #1c305d 0%, #030d22 100%);
  color: #89c2d9;
  position: fixed;
  width: 100%;
  z-index: 2;
}

header .usuario-index {
  display: flex;
}

header .sesion-index {
  padding-right: 0.5rem;
}

header #barra-navegacion {
  width: 100vw;
  background: radial-gradient(circle, #1c305d 0%, #030d22 100%);
}

header #color-nav {
  color: #89c2d9;
}

header #color-nav:hover {
  color: #41ead4;
}

header .top-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

header h1 {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  color: #11114e;
  text-shadow: 3px 2px 6px #040436, 0 0 1em yellowgreen, 0 0 0.2em turquoise;
}

header .menu {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0.5rem;
  margin-bottom: 0%;
}

header .menu li a:hover {
  color: #41ead4;
}

header .usuario {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding-top: 4rem;
  background-color: blue;
  background-image: url(../images/moroccan-flower-dark.png);
  width: 100vw;
}

main .carrusel {
  margin-top: 5rem;
  margin-bottom: .5rem;
}

main .carrusel img {
  object-fit: cover;
}

main .slide {
  margin-top: 1rem;
}

main .slide img {
  height: 68vh;
}

main .cintillo li {
  flex: 1 1 0;
  text-decoration: none;
}

main .contenedor {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

main .fotos {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

main .fotos img {
  width: 220px;
  height: 220px;
  padding: 1.5rem;
}

.contenedor-footer {
  margin-top: .75rem;
  display: grid;
  row-gap: 3px;
  font-size: 1rem;
}

.mail-tel {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
}

.sociales {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}

.titulo-final {
  text-align: center;
  font-size: .5rem;
  margin: 10px 0 0 0;
}

a {
  text-decoration: none;
  color: #89c2d9;
}

a:hover {
  color: #41ead4;
  transform: scale(1.3);
  font-weight: bold;
}

.contenedor-botones {
  padding-top: 2rem;
}

.boton {
  margin-top: 2rem;
}

#color-letra-boton:hover {
  color: darkblue;
}

.vistas {
  padding: 2rem;
}

.video {
  margin: 2rem;
}

.formulario {

  display: grid;
  justify-items: center;
  text-align: center;
  grid-template-columns: 1fr;
  padding-top: 1rem;
  margin-top: 5rem;
  padding-bottom: 2rem;
  color: #89c2d9;
}

.formulario__label {
  display: block;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

.formulario__grupo-input {
  position: relative;
}

.formulario__input {
  width: 100%;
  background: #fff;
  border: 3px solid transparent;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: .3s ease all;
}

.formulario__input:focus {
  border: 3px solid #0075FF;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.formulario__input-error-activo {
  display: block;
}

.formulario__validacion-estado {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.formulario__checkbox {
  margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
  grid-column: 1;
}

.formulario__mensaje {
  height: 45px;
  line-height: 45px;
  background: #F66060;
  padding: 0 15px;
  border-radius: 3px;
  display: none;
}

.formulario__mensaje-activo {
  display: block;
}

.formulario__mensaje p {
  margin: 0;
}

.formulario__grupo-btn-enviar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario__btn {
  height: 45px;
  line-height: 45px;
  width: 10rem;
  background: #89c2d9;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .1s ease all;
}

.formulario__btn:hover {
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.formulario__mensaje-exito {
  font-size: 14px;
  color: #119200;
  display: none;
}

.formulario__mensaje-exito-activo {
  display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
  color: #1ed12d;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
  color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
  color: #bb2929;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
  border: 3px solid #bb2929;
}

/* background-image: url(../images/moroccan-flower-dark.png); */


/* background-image: url(../images/pyramid.gif);  */

.boton-formulario {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  header .top-header {
    padding: 1rem 2rem;
  }

  header h1 {
    font-size: 2rem;
  }

  .sesion-index {
    padding-right: 0.5rem;
  }

  .menu {
    font-size: 1.5rem;
  }

  main {
    padding-top: 7rem;
  }

  main .carrusel {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
  }

  main .carrusel h5 {
    font-size: 1.7rem;
    color: #11114e;
    text-shadow: 2px 1px 2px #040436, 0 0 0.4em yellowgreen,
      0 0 0.7em turquoise;
  }

  main .slide img {
    height: 57vh;
  }

  main .cintillo {
    font-size: 1rem;
  }

  main .fotos img {
    width: 180px;
    height: 180px;
    padding: 1.5rem;
  }

  .portafolio {
    padding-top: 3rem;
  }

  .sociales {
    font-size: 1.8rem;
  }

  .contenedor-footer {
    display: grid;
    font-size: 1.3rem;
    grid-template-columns: 1fr 1fr;
  }

  main .formulario {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    padding-top: 3rem;
    background-image: url(../images/pyramid.gif);
    width: 30vw;
  }

  footer .titulo-final {
    font-size: 0.8rem;
  }

  .contenedor-formulario {
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .top-header {
    padding: 1rem;
  }

  header h1 {
    font-size: 3rem;
  }

  main .slide img {
    height: 77vh;
  }

  main {
    padding-top: 4.5rem;
    padding-bottom: 6rem;
  }

  main .cintillo {
    font-size: 1.3rem;
  }

  main .carrusel {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  main .fotos img {
    width: 280px;
    height: 280px;
    padding: 1.5rem;
  }

  .contenedor-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .titulo-final {
    font-size: 1rem;
  }

  footer .titulo-final {
    font-size: 1rem;
  }

  #centrado-lista {
    display: flex;
    margin-left: 25%;
  }

  header .usuario {
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
  }

  header .sesion {
    padding-right: 1rem;
  }

  .contenedor-formulario {
    padding-top: 10rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
  }
}

.vistas {
  padding: 2rem;
}

#color-nav-vistas {
  color: #89c2d9;
}

#hamburguesa:hover {
  color: #41ead4;
}

.navbar-light .navbar-toggler {
  background-color: transparent;
  border-color: #41ead4;
}

.navbar-light .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(65, 234, 212, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-nav .nav-link {
  color: #89c2d9;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
  color: #41ead4;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #41ead4;
}

.portafolio {
  padding-top: 2.5rem;
}

.gradiante-azul,
.cintillo,
footer {
  background: radial-gradient(circle, #1c305d 0%, #030d22 100%);
  color: #89c2d9;
  width: 100vw;
}

.cintillo {
  font-size: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  list-style: none;
  padding-left: 0%;
}

footer {
  overflow: hidden;
  text-align: center;
}

.btn-outline-success {
  color: #41ead4;
  border-color: #41ead4;
  z-index: 1;
  margin: 1.7rem;
}

.btn-outline-success:hover {
  color: darkblue;
  background-color: #41ead4;
  border-color: #89c2d9;
}

.btn-outline-success:hover {
  color: #040436;
  background-color: #41ead4;
  border-color: #89c2d9;
}

.btn-outline-success-search {
  color: #41ead4;
  border-color: #41ead4;
  z-index: 1;
}

.btn-outline-success-search:hover {
  color: darkblue;
  background-color: #41ead4;
  border-color: #89c2d9;
}

.btn-outline-success-search:hover {
  color: #040436;
  background-color: #41ead4;
  border-color: #89c2d9;
}

.contenedor-joyas {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-align: center;
  border: 1px solid cyan;
  border-radius: 55px;
  color: cyan;
  overflow: hidden;
  background-color: #00274f;
}

.imagen-joya {
  height: 280px;
  object-fit: cover;
  object-position: center;
  border-radius: 150px;
}

.btn-carrito {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 1 rem 0;
  border-radius: 10 px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #89c2d9;
  font-weight: 700;
}

.btn-carrito:hover {
  background-color: #41ead4;
}

.carrito {
  border-radius: 150px;
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(3, 1fr);
}

h3 {
  color: #89c2d9;
  text-align: center;
}