@import "./variables";

.contenedor-formulario {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  height: 57vh;
  color: $color-azulclaro;
  font-size: 1rem;
  margin-top: 2rem;
}

.contenedor-legend {
  text-align: center;
  padding: 1rem;
}

.boton-formulario {
  cursor: pointer;
}
