@import "./variables";

header {
  background: $color-azulfuerte;
  color: $color-azulclaro;
  position: fixed;
  width: 100%;
  z-index: 2;

  .usuario-index {
    display: flex;
  }

  .sesion-index {
    padding-right: 0.5rem;
  }

  #barra-navegacion {
    width: 100vw;
    background: $color-azulfuerte;
  }

  #color-nav {
    color: $color-azulclaro;
  }

  #color-nav:hover {
    color: $color-turquesa;
  }

  .top-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
  }

  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    color: rgb(17, 17, 78);
    text-shadow: 3px 2px 6px #040436, 0 0 1em yellowgreen, 0 0 0.2em turquoise;
  }

  .menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0.5rem;
    margin-bottom: 0%;
  }

  .menu li a:hover {
    color: $color-turquesa;
  }

  .usuario {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}